<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
    </head>
    <body>
        <h2>Task List</h2>
        <a href="{{ url_for('_addtask') }}">Add Task</a>
        {% if not tasks == [] %}
            <a href="{{ url_for('_removetask') }}">Remove Task</a>
        {% endif %}
        {% if tasks == [] %}
            <p>No tasks found.</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Due Date & Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.datetime.strftime("%B %d, %Y at %I:%M %p") }}</td>

                        {% if task.status %}
                            <td>Completed</td>
                        {% else %}
                             <td>{{ due_time_task(task.datetime) }}</td>
                        {% endif %}

                        <td><a href="{{ url_for('_edittask', task_name=task.name) }}">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        
        <h2>Schedule List</h2>
        <a href="{{ url_for('_addschedule') }}">Add Schedule</a>
        {% if not schedules == [] %}
            <a href="{{ url_for('_removeschedule')}}">Remove Schedule</a>
        {% endif %}
        {% if schedules == [] %}
            <p>No schedules found.</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Schedule Name</th>
                    <th>Time Range</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in schedules %}
                    <tr>
                        <td>{{ schedule.name }}</td>
                        {% if schedule.start_time.date() == schedule.end_time.date() %}
                            <td>{{ schedule.start_time.strftime("%B %d, %Y") }} from {{ schedule.start_time.strftime("%I:%M %p") }} to {{ schedule.end_time.strftime("%I:%M %p") }}</td>
                        {% else %}
                            <td>{{ schedule.start_time.strftime("%B %d, %Y at %I:%M %p") }} - {{ schedule.end_time.strftime("%B %d, %Y at %I:%M %p") }}</td>
                        {% endif %}

                        <td>{{ due_time_schedule(schedule.start_time, schedule.end_time) }}</td>
                        <td><a href="{{ url_for('_editschedule', schedule_name=schedule.name) }}">Edit</a></td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </body>
</html>