<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Task</title>
    </head>
    <body>
        <h2>Add Task</h2>
        <form action="/addtask_" method="post">
            <label for="name">Task Name:</label><br>
            <input type="text" id="name" name="name"><br><br>
            <label for="datetime">Due Date & Time:</label><br>
            <input type="datetime-local" id="datetime" name="datetime"><br><br>
            <input type="submit" value="Submit">
        </form> 
    </body>