<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Schedule</title>
    </head>
    <body>
        <a href="{{ url_for('index') }}">&lt; Go Back</a>
        <h2>Edit Schedule</h2>
        <form action="{{ url_for('editschedule_', schedule_name=schedule.name) }}" method="post">
            <label for="name">Schedule Name:</label><br>
            <input type="text" id="name" name="name" value="{{ schedule.name }}" required><br><br>
            <label for="start_time">Start Date & Time:</label><br>
            <input type="datetime-local" id="start_time" name="start_time" value="{{ schedule.start_time.strftime('%Y-%m-%dT%H:%M') }}" required><br><br>
            <label for="end_time">End Date & Time:</label><br>
            <input type="datetime-local" id="end_time" name="end_time" value="{{ schedule.end_time.strftime('%Y-%m-%dT%H:%M') }}" required><br><br>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description" rows="4" cols="50">{{ schedule.description }}</textarea><br><br>

            <input type="submit" value="Edit Schedule">
    </body>