<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
    </head>
    <body>
        <h2>Task List</h2>
        <form action="/_addtask" method="POST">
            <button type="submit">Add Task</button>
        </form>
        <button>Delete Task</button>
        <table>
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Due Date & Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for task in data %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.datetime.strftime("%B %d, %Y at %I:%M %p") }}</td>

                        {% if task.status %}
                            <td>Complete</td>
                        {% else %}
                             <td>{{ due_time_task(task.datetime) }}</td>
                        {% endif %}

                        <td><button>Edit</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>