<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page | Project CARO</title>
  <link rel="stylesheet" href="{{ url_for('static', filename=('css/theme-'+settings["theme"]+'.css')) }}">
</head>

<body style="padding-top: 0px;" class="caro-bg">
  {% include 'navbar.html' %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const fadeDiv = document.getElementById('content-area');
      const links = document.querySelectorAll('a');

      links.forEach(link => {
        link.addEventListener('click', (e) => {
          // Only apply to internal links
          if (link.hostname === window.location.hostname) {
            e.preventDefault();
            const targetUrl = link.href;

            // Add the fade-out class
            fadeDiv.classList.add('fade-out');

            // Wait for the animation to finish (match CSS duration)
            setTimeout(() => {
              window.location.href = targetUrl;
            }, 500);
          }
        });
      });
    });
  </script>
  
  <div class="m-5 fade-target" id="content-area">
    <div class="text-center">
      <h1>Welcome!</h1>
      <p>What would you like to do today?</p>

      <div class="container col-4">
        <div class="row ">
          <div class="col">
            <a class="btn btn-caro-home" href="{{ 'viewtasks' }}">View Tasks</a>
          </div>
          <div class="col">
            <a class="btn btn-caro-home" href="{{ 'viewschedules' }}">View Schedules</a>
          </div>
        </div>
      </div>

      

      <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>