<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page | Project CARO</title>
  <link rel="icon" type="image/x-icon" href="../static/icon.ico">
  <link rel="stylesheet" href="{{ url_for('themes', filename=("theme-"+settings["theme"]+'.css')) }}">
</head>

<body style="padding-top: 0px;" class="caro-bg">
  {% include 'navbar.html' %}
  <script src="static/transitions.js"></script>
  
  <div class="m-5 fade-target" id="content-area">
    <div class="text-center">
      <h1>Welcome!</h1>
      <p>What would you like to do today?</p>

      <div class="container d-flex justify-content-center align-items-center">
        <div class="row ">
          <div class="col mt-2">
            <a class="btn btn-caro-home" href="{{ 'viewtasks' }}">View Tasks</a>
          </div>
          <div class="col mt-2">
            <a class="btn btn-caro-home" href="{{ 'viewschedules' }}">View Schedules</a>
          </div>
        </div>
      </div>

      

      <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>