<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Viewing Schedules | Project CARO</title>
  <link rel="stylesheet" href="{{ url_for('static', filename=('css/theme-'+settings["theme"]+'.css')) }}">
</head>

<body style="padding-top: 0px;" class="caro-bg">

  {% include 'navbar.html' %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const fadeDiv = document.getElementById('content-area');
      const links = document.querySelectorAll('a');

      links.forEach(link => {
        link.addEventListener('click', (e) => {
          // Only apply to internal links
          if (link.hostname === window.location.hostname) {
            e.preventDefault();
            const targetUrl = link.href;

            // Add the fade-out class
            fadeDiv.classList.add('fade-out');

            // Wait for the animation to finish (match CSS duration)
            setTimeout(() => {
              window.location.href = targetUrl;
            }, 500);
          }
        });
      });
    });
  </script>
  <div class="m-5 fade-target" id="content-area">
    <div class="text-center">
      <div class="caro-head"><strong>Schedule List</strong>
      </div>

      <a class="btn btn-caro-primary mx-1" href="{{ url_for('_addschedule') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
          viewBox="0 0 16 16">
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
        </svg> Create Schedule
      </a>

      {% if not schedules == [] %}
      <a class="btn btn-caro-secondary mx-1" href="{{ url_for('_removeschedule') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill"
          viewBox="0 0 16 16">
          <path
            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
        </svg> Remove Schedule
      </a>
      {% else %}
      <a class="btn btn-caro-secondary mx-1   disabled">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill"
          viewBox="0 0 16 16">
          <path
            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
        </svg> Remove Schedule
      </a>
      {% endif %}
    </div>
    <hr>

    {% if schedules == [] %}
    <div class="text-center mt-5">
      <h4 class="text-secondary">No schedules yet. Create one to get started!</h4>
    </div>
    {% else %}
    <div class="card w-auto bg-caro-card">
      <table class="m-5 w-auto rounded caro-table">
        <thead>
          <tr>
            <th scope="col" class="text-center">Details</th>
            <th scope="col" class="text-center">Start/End Date & Time</th>
            <th scope="col" class="text-center">Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for s in schedules %}
          <tr>
            <td><br>
              <p class="no-pad"><strong>{{ s.name }}</strong></p>
              <p class="card-text multiline-text indented-block">{{ s.description }}
              </p>
            </td>
            {% if s.start_time.date() == s.end_time.date() %}
            <td class="text-center">{{ s.start_time.strftime("%B %d, %Y") }} <br> {{ s.start_time.strftime("%I:%M %p")
              }} to {{ s.end_time.strftime("%I:%M %p") }}</td>
            {% else %}
            <td class="text-center">{{ s.start_time.strftime("%B %d, %Y at %I:%M %p") }}<br>to<br>{{
              s.end_time.strftime("%B %d, %Y at %I:%M %p") }}</td>
            {% endif %}

            <td class="text-center">{{ due_time_schedule(s.start_time, s.end_time) }}</td>
            <td class="text-end"><a class="btn btn-caro-primary"
                href="{{ url_for('_editschedule', schedule_name=s.name) }}"">
              <svg xmlns=" http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg> Edit Schedule
              </a></td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
  </div>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>